.content-block {
    background-position: center;
    position: relative;
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    color: white;
}

.poly-container {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

svg.poly-container {
    width: 100%;
    height: 100%;
    fill: #002645;
}

div.left-block {
    text-align: left;
    position: absolute;
    z-index: 2;
    width: 40%;
    height: 100%;
    left: 0px;
    padding: 2% 0% 0% 2%;
}

div.right-block {
    text-align: left;
    position: absolute;
    z-index: 2;
    width: 40%;
    height: 100%;
    right: 0px;
    padding: 2% 2% 0% 0%;
}

.content-banner {
    position: absolute;
}

.content-banner-container-left {
    background-color: black;
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
    /* overflow: hidden; */
    display: block;
}

.content-banner-container-right {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    /* overflow: hidden; */
    display: block;
}

.more-button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px white solid; */
    border-radius: 10px;
    background-color: #24B3E8;
    width: 100%;
    height: 15%;
    font-size: 150%;
}

.arrow {
    transition: 0.1s;
    margin-left: 1%;
}

.more-button:hover {
    background-color: #005663;
}

.more-button:hover > .arrow {
    transform: translateX(40%);
}

a.social-button {
    all: unset;
    display: inline-block;
    aspect-ratio: 1 / 1;
    width: 30%;
    border-radius: 10px;
    background-color: #24B3E8;
    transition: 0.1s;
    position: relative;
}

a.social-button:hover {
    background-color: #005663;
}

a.social-button:hover > img {
    transform: scale(90%);
}

img.social-button {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 90%;
    height: 90%;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

h1.content {
    font-size: 200%;
    margin-bottom: 5%;
}

h2.content {
    font-size: 100%;
    margin-bottom: 10%;
    font-weight: normal;
}
