* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    height: 100%;
    width: auto;
}

div.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #005d97;
    z-index: 100;
}

div.topbar-item {
    height: 90%;
    display: flex;
    z-index: 5;
}

#menu {
    flex: 1 1 0;
    justify-content: left;
    display: block;
}

#mask {
    width: 50%;
    height: 100%;
    top: 0px;
    position: absolute;
    z-index: 4;
    background-color: #005d97;
}

#navigator {
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #0092a8;
    transition: transform 1s;
    z-index: 3;
    /* display: block; */
}

#menu-button {
    position: absolute;
    padding-left: 3%;
    z-index: 6;
    top: 0;
    left: 0;
}

#menu-button:hover + #navigator {
    transform: translateY(100%);
}

#navigator:hover {
    transform: translateY(100%);
}

.navigator-item {
    all: unset;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 6%;
    height: 10vh;
    border: solid black;
    border-width: 1px;
}

.navigator-item:hover {
    background-color: #005663;
}

#logo {
    justify-content: center;
    flex: 4 4 0;
}

#spacer {
    flex: 1 1 0;
    justify-content: right;
}

#main-banner {
    width: 100%;
    aspect-ratio: 4 / 3;
    background-image: url(../assets/banner-placeholder.png);
    background-size: cover;
}
